{% extends 'base.html.twig' %}

{% block title %}TRT Conseil|Accueil{% endblock %}

{% block body %}

<h1>TRT Conseil</h1>
<h2>L'agence de recrutement spécialisée dans l'hôtellerie et la restauration</h2>



{% endblock %}
