{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
<div class="container text-center">
    <h1 class="m-5">Bienvenue dans votre espace d'administration</h1>
    <br>
    <a href="/">Retour sur la page d'accueil</a>
    <br>
    <img width="25%" src="images/logo.png" alt="logo">

</div>
{% endblock %}